@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-size: 1vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

/* 
@media screen and (max-width: 1400px) {
  .meals {
    margin: 20px 5vw;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
} */